@import "./variable";
@import "./components/header";
@import "./components/main_content";
@import "./components/menu";

#main-container{
  width: 100%;
  display: grid;
  grid-row-gap: 15px;
  justify-content: center;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 180px 1fr;
  grid-template-areas:"header header" "mainBlock mainBlock" "footer footer";

  .wrapper{
    width: 1440px;
    margin: auto;
    max-width: 100%;
  }

  a {
    color: $main-color-2;
    text-decoration: none;
  }

  footer{
    background:$main-color-1;
    color: $font-color-for-dark;
    grid-area: footer;
    margin-top: 15px;
  }

}
